.usuario-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
  }
  
  .activo {
    background-color: lightgreen;
  }
  
  .inactivo {
    background-color: lightcoral;
  }